/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1050px) {}

/* Условные планшеты */
@media (max-width: 991.98px) {}

/* Условные мобилки */
@media (max-width: 767.98px) {}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

/* №1 */
@media (max-width: 1140px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		 max-width: 750px;
	}
}

/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		 max-width: none;
	}
}