@import "_null";
@import "_fonts";
@import "_media";

body {
	background:#191919;
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 15px;
}

//font-family: 'Inter', sans-serif;

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 2px solid #ffffff1a;

		
	// .header__container
	&__container {
		
	}

	// .header__items
	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 2.894736842105263% 0px;
		column-gap: 20px;
		row-gap: 20px;
	}

	// .header__item
	&__item {
		flex: 0 1 27.297%;
	}

	// .header__logo
	&__logo {}

	// .header__menu
	&__menu {}
}

.menu-header {

	// .menu-header__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		gap: 15px 15px;
		// margin: 0px -15px;
		justify-content: space-between;
	}

	// .menu-header__item
	&__item {
		// padding: 0px 15px;
		color: #FFFFFF;
		font-weight: 700;
		font-size: 14px;
		// line-height: 6.43;
	}

	// .menu-header__link
	&__link {}
}

.offer {
	background: #191919 url('/img/offer/bg.jpg') 0 0 / 100% auto no-repeat;
	// .offer__container
	&__container {
		// padding: 171px 15px 161px;
		text-align: center;
		
	}

	// .offer__content
	&__content {
		margin-bottom: 70px;
		padding-top: 15.40540540540541%;
	}

	// .offer__title
	&__title {
		font-size: 72px;
		line-height: 1.166;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		color: #FFFFFF;
		&:not(:last-child) {
			margin: 0 0 16px 0;
		}
		span {
			font-weight: 700;
		}
		@media (max-width: 850px) {
			font-size: 58px;
			letter-spacing: 0.068em;
		}

		@media (max-width: 460px) {
			font-size: 46px;
			letter-spacing: 0.1em;
		
			&:not(:last-child) {
				margin: 0 0 32px 0;
				}
		}

		@media (min-width: 320px) and (max-width: 380px) {
			font-size: 35px;
			letter-spacing: 0.1em;
		
			&:not(:last-child) {
				margin: 0 0 32px 0;
					}
			}
	}

	// .offer__sub-title
	&__sub-title {
		font-size: 16px;
		line-height: 1.62;
		letter-spacing: -0.2px;
		opacity: 0.7;
		max-width: 53.60%;
		&:not(:last-child) {
			margin: 0 auto 40px;
		}

		@media (max-width: 693.98px) {
			font-size: 17.5px;
			max-width: 85%;
				}
		@media (max-width: 460px) {
			font-size: 15.5px;
			max-width: 92%;
				}
		@media (max-width: 320px) {
			font-size: 15.5px;
			max-width: 90%;
				}
	}

	// .offer__button
	&__button {
		display: inline-flex;
		background: #34C759;
		border-radius: 43px;
		color: #1A1A1A;
		font-weight: 700;
		font-size: 18px;
		line-height: 1.122;
		text-align: center;
		letter-spacing: 0.2em;
		padding: 25px 57px;
		transition: all 0.3s ease 0s;
		&:hover {
			background: #19ff05;
		}
		
	}

	// .offer__bottom-block
	&__bottom-block {
		
	}
}

.block-bottom {
	padding-bottom: 14.5045045045045%;

	// .block-bottom__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 45px;
		column-gap: 15px;
		margin: 0px -15px;
	}

	// .block-bottom__item
	&__item {
		flex: 1 0 21.49122807017544%;
		padding: 0px 15px;
	}
}

.item-block-bottom {
	display: flex;
	flex-direction: column;
	height: 100%;

	// .item-block-bottom__picture
	&__picture {
		&:not(:last-child) {
			margin: 0 0 16px 0;
		}
	}

	// .item-block-bottom__image
	&__image {}

	// .item-block-bottom__body
	&__body {
		min-width: 245px;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	// .item-block-bottom__title
	&__title {
		flex: 1 1 auto;
		&:not(:last-child) {
			margin: 0 0 8px 0;
		}
	}

	// .item-block-bottom__sub-title
	&__sub-title {
		font-size: 14px;
		opacity: 0.5;
	}
}

.work {

	// .work__container
	&__container {}

	// .work__content
	&__content {
		text-align: center;
		margin: 7.894736842105263% 0px 5.263157894736842%;
		
	}

	// .work__text
	&__text {
		// font-family: 'Helvetica Neue', sans-serif;
		font-weight: 700;
		font-size: 100px;
		line-height: 1.5;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		// position: relative;
	}

	// .work__sub-text
	&__sub-text {
		// 	
		
		// position: absolute;
		// top: 17%;
		// left: 35%;
		// font-family: 'Helvetica Neue';
		margin-top: -123px;
		font-weight: 400;
		font-size: 36px;
		line-height: 2.5;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
	}

	// .work__line
	&__line {
		width: 56px;
		height: 2px;
		background: #34C759;
		margin: 0px auto;
	}

	// .work__cards
	&__cards {
		margin-bottom: 30px;
	}
}

.cards {

	// .cards__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		row-gap: 30px;
		height: 100%;
	}

	// .cards__item
	&__item {
		padding: 0px 15px;
		flex: 1 1 0.25%;
		min-width: 255px;
	}

	&__item > .card:hover {
		background: #34C759;
	}

}

.card {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all 0.3s ease 0s;
	&:hover > * {
		color: #191919;
	}
	&:hover > &__line {
		background: #191919;
	}

	// .card__header
	&__header {
		font-style: normal;
		font-weight: 400;
		font-size: 22px;
		line-height: 1.18;
		letter-spacing: -0.275px;
		text-transform: capitalize;
		color: #FFFFFF;
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
		
	}

	// .card__line
	&__line {
		width: 56px;
		height: 2px;
		background: #34C759;
		&:not(:last-child) {
			margin: 0 0 24px 0;
		}
	}

	// .card__text
	&__text {
		font-weight: 400;
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: rgba(255, 255, 255, 0.5);
	}
}


.dishes {

	.dishes {
	
			// .dishes__content
			&__content {
				text-align: center;
				margin: 7.894736842105263% 0px 5.263157894736842%;
			}
		}
	
		
	// .dishes__cards
	&__cards {}

	// .dishes__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -15px;
		row-gap: 30px;
	}

	// .dishes__item
	&__item {
		flex: 1 1 33.333%;
		padding: 0px 15px;
		
	}
}

.header-content {
	text-align: center;
	margin: 7.894736842105263% 0px 5.263157894736842%;


	// .header-content__text
	&__text {
		position: relative;
		font-weight: 700;
		font-size: 100px;
		line-height: 1.5;
		letter-spacing: 0.2em;
		color: #303030;
		text-transform: uppercase;
		&:not(:last-child) {
				margin: 0 0 2px 0;
			}

		@media (max-width: 600.98px) {
				font-size: 62px;
			}
		@media (min-width: 320px) and (max-width: 397.98px)  {
			font-size: 54px;
			}
	}


	// .header-content__sub-text
	&__sub-text {
		content: "";
		position: absolute;
		display: block;
		top: 20%;
		width: 100%;

		// margin-top: -123px;
		font-weight: 400;
		font-size: 36px;
		line-height: 2.5;
		letter-spacing: 0.2em;
		text-transform: capitalize;
		color: #D9D9D9;
		
		@media (max-width: 600.98px) {
				font-size: 23px;
				// margin-top: -11.08108108108108%;
			}
		@media (min-width: 320px) and (max-width: 397.98px) {
			font-size: 16px;
			top: 24%;
		}
	}

	// .header-content__line
	&__line {
		width: 56px;
		height: 2px;
		background: #34C759;
		margin: 0px auto;
	}
}


.item-dishes {
		display: flex;
		flex-direction: column;
		height: 100%;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		overflow: hidden;
		@media (min-width: 1140px) {
				max-width: 350px;
			}
		@media (min-width: 737px) and (max-width: 1140px) {
				min-width: 338px;
			}
		@media (min-width: 381px) and (max-width: 736.98px) {
				min-width: 327.2px;
			}

	// .item-dishes__share-button
	&__share-button {}

	// .item-dishes__picture
	&__picture {
		position: relative;
		padding: 0px 0px 74.28571428571429% 0px;
		margin-bottom: 29px;
	}

	// .item-dishes__image
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	// .item-dishes__body
	&__body {
		padding: 0px 6.857142857142857% 6.857142857142857% 8.571428571428571%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}

	// .item-dishes__title
	&__title {
		font-size: 32px;
		line-height: 0.9;
		color: #D9D9D9;
		
	}

	// .item-dishes__sub-title
	&__sub-title {
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: -0.15px;
		color: #A4A8B2;
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
	}

	// .item-dishes__text
	&__text {
		font-size: 13px;
		line-height: 1.38;
		letter-spacing: -0.1625px;
		color: #85878C;
		&:not(:last-child) {
			margin: 0 0 20px 0;
		}
		flex: 1 1 auto;
	}

	// .item-dishes__footer
	&__footer {}

	// .item-dishes__stars
	&__stars {
		display: flex;
		align-self: center;
	}

	// .item-dishes__star-icon
	&__star-icon {
		height: 19px;
		color: #4D4D4D;
		font-size: 25px;
		align-self: center;
		min-height: 26px;
		transition: all 0.3s ease 0s;
		&:not(:last-child) {
			margin: 0 5px 0 0;
		}
		&:hover {
			color: #F9AD3D;
		}
	}

	// .item-dishes__counter
	&__counter {
		font-weight: 900;
		font-size: 12px;
		line-height: 2.5;
		letter-spacing: 1.5px;
		color: #B3B3B3;
		padding: 0 14px;
	}
}

.button-share {

	// .button-share__body
	&__body {}
}

.body-share-button {}

.footer-item-dishes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// max-height: 40px;
	
	@media (min-width: 320px) and (max-width: 380px) {
		flex-wrap: wrap;
		max-height: 100%;
	}
	@media (max-width: 380px) {
		column-gap: 15px;
	}
	// .footer-item-dishes__button
	// &__button {
	// 	background: #262626;
	// 	border: 2px solid #303030;
	// 	font-weight: 900;
	// 	font-size: 10px;
	// 	// line-height: 400;
	// 	text-align: center;
	// 	letter-spacing: 0.2em;
	// 	text-transform: uppercase;
	// 	color: rgba(255, 255, 255, 0.5);
	// 	display: inline-flex;
	// 	border-radius: 30px;
	// 	padding: 15px 25px;
	// 	transition: all 0.3s ease 0s;

	// 	&:hover {
	// 		background: #34C759;
	// 		color: #252525;
	// 		border: 2px solid #34C759;
	// 	}
	// }
}

.button {
	background: #262626;
		border: 2px solid #303030;
		font-weight: 900;
		font-size: 10px;
		max-height: 40px;
		// line-height: 400;
		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.5);
		display: inline-flex;
		border-radius: 30px;
		padding: 15px 25px;
		transition: all 0.3s ease 0s;
		@media (max-width: 767.98px) {
				background: #34C759;
			color: #1A1A1A;
			}
		@media (max-width: 380px) {
				width: 100%;
				justify-content: center;
			}
}

.button:hover {
	background: #34C759;
	color: #252525;
	border: 2px solid #34C759;
}


.footer-item-dishes__block {
	width: 100%;
}

.item-dishes {
	position: relative;
	// .item-dishes__share-button
	&__share-button {
		
		top: 0;
		right: 0;
	}
}

.button-share {
	position: absolute;
	z-index: 3;
	top: 24px;
	right: 24px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #000000;
	opacity: 0.3;
	// .button-share__image
	&__image {
		position: absolute;
		left: 8px;
		top: 8px;
	}
	&__image_arrow-align {
		left: 12px;
		top: 12px;
		z-index: 5;
	}
}


.chefs {

	// .chefs__container
	&__container {}
	margin-bottom: 30px;
	// .chefs__content
	&__content {}

	// .chefs__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		row-gap: 30px;
		justify-content: center;
		margin-bottom: 30px;
	}

	// .chefs__item
	&__item {
		padding: 0px 15px;
		flex: 1 1 33.333%;
		max-width: 480px;
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		justify-content: center;
	}
}

.header-content {

	// .header-content__text
	&__text {}

	// .header-content__sub-text
	&__sub-text {}

	// .header-content__line
	&__line {}
}

.item-chefs {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	// flex-wrap: wrap;
	@media (min-width: 1140px) {
		max-width: 350px;
	}
	@media (min-width: 640px) {
		max-width: 350px;
		
	}

	// .item-chefs__header
	&__header {}

	// .item-chefs__body
	&__body {}
}

._ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		display: block;
	}
}


.header-item-chefs {
	display: flex;
	column-gap: 24px;
	align-items: center;
	min-width: 290px;

	// .header-item-chefs__picture
	&__picture {
		width: 65px;
		height: 65px;
		border-radius: 50%;
		overflow: hidden;	
		padding: 0 0 65px 0;
	}

	// .header-item-chefs__image
	&__image {
		
	}

	// .header-item-chefs__body
	&__body {

	}

	// .header-item-chefs__title
	&__title {
		font-family:'Inter', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		// line-height: 1.166%;
		letter-spacing: -0.225px;
		color: #FFFFFF;
		&:not(:last-child) {
				margin: 0 0 6px 0;
			}
	}

	// .header-item-chefs__text
	&__text {
		font-family: 'Inter', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		// line-height: 1.33%;
		letter-spacing: -0.15px;		
		color: rgba(255, 255, 255, 0.5);
	}
}

.body-item-chefs {
	display: flex;
	justify-content: space-between;

	// .body-item-chefs__picture
	&__picture {
		flex: 0 1 18.57142857142857%;
		padding-bottom: 18.57142857142857%;
		// &:not(:last-child) {
		// 		margin: 0 30px 0 0;
		// 	}
	}

		&__picture_big-img {
			flex: 0 1 45.71428571428571%;
		}

	// .body-item-chefs__image
	&__image {}
}



.recipes {

	// .recipes__container
	&__container {
		margin-bottom: 30px;
	}

	// .recipes__content
	&__content {}

	// .recipes__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -15px;
		justify-content: center;
		row-gap: 30px;
	}

	&__item_right-block {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	// .recipes__item
	&__item {
		padding: 0px 15px;
		flex: 1 1 540px;
	}
}

.header-content {

	// .header-content__text
	&__text {}

	// .header-content__sub-text
	&__sub-text {}

	// .header-content__line
	&__line {}
}

.item-recipes {
	border-radius: 6px;
	overflow: hidden;
	color: #fff;
	background: #252525;
	padding: 11.111% 16.666%;
	position: relative;
	text-align: center;

	// .item-recipes_no-bg
	&_no-bg {
		padding: 30px 26px 25px 30px;
		min-width: 290px;
	}

	// .item-recipes__share-button
	&__share-button {
		background: #1A1A1A;
		opacity: 1;
	}

	// .item-recipes__picture
	&__picture {
		padding: 0 0 94.44444444444444% 0;
	}

	// .item-recipes__image
	&__image {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		object-position: center;
	}

	// .item-recipes__body
	&__body {
		position: relative;
		z-index: 3;
	}

	// .item-recipes__menu
	&__menu {}

	// .item-recipes__block-items
	&__block-items {}

	// .item-recipes__block-item
	&__block-item {}

	// .item-recipes__text
	&__text {}

	// .item-recipes__footer
	&__footer {}

	// .item-recipes__event
	&__event {}
}

.button-share {
	
	// .button-share__image
	&__image {}
}

.body-item-recipes {
		margin: 0 0 60px 0;

	// .body-item-recipes__header
	&__header {
		background: #1A1A1A;
		display: inline-block;
		// opacity: 0.3;
		// font-family: 'Helvetica Neue';
		// font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 2.5;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		padding: 5px 16.5px;
		border-radius: 6px;
		&:not(:last-child) {
			margin: 0 0 65px 0;
		}
	}

	// .body-item-recipes__date
	&__date {
		font-size: 14px;
		color: #FFFFFF;
		line-height: 2.14;
		&:not(:last-child) {
			margin: 0 0 25px 0;
		}
	}

	// .body-item-recipes__text
	&__text {
		font-size: 24px;
		line-height: 1.67;
		&:not(:last-child) {
			margin: 0 0 45px 0;
		}
	}

	// .body-item-recipes__author
	&__author {
		font-size: 14px;
		line-height: 1.67;
	}
}

.action-block {
	width: 139px;
	margin: 0px auto;
	position: relative;
	z-index: 3;

	// .action-block__items
	&__items {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		// column-gap: 27px;
		// align-items: center;
		
	}

	// .action-block__item
	&__item {
		font-weight: 700;
		font-size: 12px;
		line-height: 2.5;
		padding: 0 0 0 40px;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			z-index: 10;
			width: 100%;
			height: 100%;
			top: 6px;
			left: 4px;
			background: url('../img/recipes/ic_views.svg') 0 0 no-repeat;
		}
	}

	&__item_change-image {
		&::before {
			background: url('../img/recipes/ic_comments.svg') 0 0 no-repeat;
		}
	}

	&_no-margin {
		margin: 0;
	}
}


.recipes {

	// .recipes__item
	&__item {}
}

.right-block {
	

	// .right-block__items
	&__items {
		display: flex;
		flex-direction: column;
		row-gap: 30px;
	}

	// .right-block__item
	&__item {
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 5.555% 4.814% 3.703%;
		// min-width: 315px;
		transition: all 0.3s ease 0s;
		&:hover {
			background:#34C759;
			color: #252525;
		}
		&:hover > div {
			color: #252525;
		}
		&:hover .event-item-recipes__date {
			color: #252525;
		}
		&:hover .action-block__item::before {
			background: url('../img/recipes/ic_views-black.svg') 0 0 no-repeat;
		}
		&:hover .action-block__item_change-image::before {
			background: url('../img/recipes/ic_comments-black.svg') 0 0 no-repeat;
		}
	}

	// .right-block__text
	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.88;
		color: #FFFFFF;
		text-align: left;
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}

	// .right-block__link
	&__link {}
}

.item-recipes {

	// .item-recipes__footer
	&__footer {
		display: flex;
		gap: 15px;
		// align-items: space-between;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	// .item-recipes__event
	&__event {}
}

.event-item-recipes {
	display: flex;
	align-items: center;

	// .event-item-recipes__title
	&__title {
		font-weight: 900;
		font-size: 10px;
		// line-height: 2.5;
		text-align: center;
		letter-spacing: 1.25px;
		text-transform: uppercase;
		color: #FFFFFF;
		background: #000000;
		border-radius: 3px;
		padding: 8px 16px;
		margin-right: 15px;
	}

	// .event-item-recipes__date
	&__date {
		font-size: 12px;
		line-height: 2.08;
		color: #B3B3B3;
	}
}

.action-block {

	// .action-block_no-margin
	&_no-margin {}

	// .action-block__items
	&__items {}

	// .action-block__item
	&__item {

		// .action-block__item_change-image
		&_change-image {}
	}
}


.social {

	// .social__container
	&__container {
		margin-bottom: 120px;
	}

	// .social__content
	&__content {}

	// .social__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
		margin: 0px -15px;
		row-gap: 30px;
		height: 100%;
		
	}

	// .social__item
	&__item {
		
		flex: 1 1 31.333%;
		padding: 0px 15px;
		// overflow: auto;
		height: 100%;
	}
}

.item-social {

	// .item-social__block
	&__block {
		// min-width: 291px;
		max-height: 330px;
		display: flex;
		flex-direction: column;
		background: #252525;
		border-radius: 6px;
		overflow: auto;
		
	}

	// .item-social__header
	&__header {
		margin-top: 25px;
	}

	// .item-social__content
	&__content {}

	// .item-social__footer
	&__footer {}
}

.header-item-social {
	display: flex;
	justify-content: space-between;
	padding: 0px 10px 25px;
	column-gap: 30px;
	
	// .header-item-social__left
	&__left {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	// .header-item-social__icon-block
	&__icon-block {
		border-radius: 50%;
		// width: 40px;
		height: 40px;
		background: #262626;
		border: 2px solid #303030;
		padding: 4.7px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 40px;
	}

	// .header-item-social__image
	&__image {
		width: 100%;
		height: 100%;
	}

	// .header-item-social__title
	&__title {
		font-size: 14px;
		line-height: 30px;
		color: #BFBFBF;
	}

	// .header-item-social__right
	&__right {}

	// .header-item-social__button
	&__button {}
}

.button {}

.content-item-social {
	font-size: 14px;
	line-height: 2.14;
	padding: 20px 15px 20px 30px;
	
	// .content-item-social__title
	&__title {
		color: #737373;
		&:not(:last-child) {
				margin: 0 0 20px 0;
			}
	}

	// .content-item-social_padding-reset
	&_padding-reset {
		padding: 0px;
		display: flex;
		flex-wrap: wrap;
		max-height: 68.28571428571429%;
		// overflow-y: scroll;
	}

	&__item {
		flex: 0 0 33.333%;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 33.333% 0;
	}



	// .content-item-social__text
	&__text {
		color: rgba(255, 255, 255, 0.7);
		padding-right: 21px;
		// max-height: 120px;
		// overflow: auto;
		&:not(:last-child) {
				margin: 0 0 10px 0;
			}	
	}

	// .content-item-social__link
	&__link {
		
	}
		
	&__image {
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover ;
		object-position: center;
		}
	
		// .content-item-social__email
		&__email {
			color: #34C759;
		}
}

.item-social__line {
	width: 100%;
	height: 2px;
	background: #303030;
}

.footer {
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

	// .footer__container
	&__container {}

	// .footer__bottom-block
	&__bottom-block {
		padding: 30px 0px;
		&:not(:last-child) {
				margin: 0 0 30px 0;
			}
	}

	// .footer__bottom
	&__bottom {}
}

.block-bottom {
	
			// .block-bottom__items
			&__items {}
	
			// .block-bottom__item
			&__item {}
}
	
.item-block-bottom {
	align-items: center;
	
			// .item-block-bottom__picture
			&__picture {}
	
			// .item-block-bottom__image
			&__image {}
	
			// .item-block-bottom__body
			&__body {
				align-items: center;
			}
	
			// .item-block-bottom__title
			&__title {}
	
			// .item-block-bottom__sub-title
			&__sub-title {}
}
	
.bottom-footer {
	border-top: 2px solid #303030;
	padding: 30px 0px;
	text-align: center;
	
	// .bottom-footer__picture
	&__picture {
		display: inline-flex;
		max-width: 210px;
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}
	
			// .bottom-footer__logo
			&__logo {
				width: 100%;
			}
	
			// .bottom-footer__text
			&__text {
				text-align: center;
				font-size: 12px;
				line-height: 2;
				color: #737373;
			}
}
